*{
	font-family:'Roboto';
}
body{
	background-color:#F3F5FA;
}

.container {
	width: 960px;
}

.navbar{
	height:80px;
	line-height: 80px;
}
#logoImage{
	margin-right:10px;
}
#logo{
	float:left;
	font-family: 'Roboto';
	font-size:22px;
	color:#383838;
}

.bold{
	font-weight:700;
	
}

.en{
	color:#0084D2;
}
#menu{
	float:right;
	text-align: right;
}

ul{
	list-style-type: none;
	display: inline;
}

li{
	display: inline-block;
	padding-left:30px;
	font-size:14px;
	font-weight: 300;
	color: #383838;

}

#hero{
	height:360px;
	margin-top: 58px;
	background-image: url("../img/hero.png");
	background-repeat: no-repeat;
}

#contact{
	padding-top: 40px;
	height:360px;
	background-image: url("http://i.imgur.com/wWUyJiQ.png");
	background-repeat: no-repeat;
	background-position: right top;
}


#heroText{
	position: absolute;
	left:655px;
	top: 160px;
	color: #424242;
	font-size:48px;
	line-height: 58px;
	width:280px;
	font-family: 'Roboto';
	font-size: 700;
}

.blue {
	color: #0084D2;
}

.heroBtn{
	display: block;
	font-family: 'Roboto';
	font-weight: 700;
	padding-top:7px;
	padding-bottom: 7px;
	font-size: 12px;
	color:#545454;
	background-color: rgba(0,0,0,0);
	border:2px solid #545454;
	margin-top: 15px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.heroBtn:hover{
	color:#0084D2;
	border:2px solid #0084D2;
}

#aboutme{
	background-color: white;
	height:465px;
}

#about{
	padding-top: 80px;
}

#leftSide{
	float: left;
	height:600px;
	width:435px;
}

#rightSide{
	background-color: white;
	float: right;
	height:315px;
	width:245px;
	background-image: url("../img/profile.png");
	background-repeat: no-repeat;
	box-shadow: 1px 2px 15px 0px rgba(0,0,0,.07);
	border-bottom: thin solid #0084D2;
}

#prof{
	text-align: center;
	padding-top: 260px;

}

.name{
	font-size: 16px;
	font-weight: 700;
	color: #575757;
}

.position{
	padding-top: 5px;
	font-size: 12px;
	color: #7c7c7c;
}

#aboutTitle{
	font-size: 24px;
}

.number{
	font-weight: 300;
	color:#0084D2;
}

.title{
	font-size: 700;
	color: #434343;
}

#aboutDescription{
	font-weight: 300;
	font-size: 16px;
	font-height:24px;
	color: #7E7E7E;
	padding-top: 20px;

}

.titties{
	padding-top: 12px;
	padding-bottom: 12px;
	color:#575757;
	font-size: 16px;
	font-weight: 700;
}

.info{
	position: absolute;
	float:left;
	text-align: left;
	width:245px;
}

.first{
	margin-top: -112px;
}
.portfolio{
	padding-top: 100px;
	padding-bottom: 100px;
}
.projectTitle{
	font-size: 24px;
	font-weight: 700;
}

.projectDescription{
	padding-top: 15px;
	font-weight: 300;
	font-size: 14px;
	color:#6F6D6D;
	margin-bottom:15px;
}

.pattern{
	background-image: url("http://i.imgur.com/m08lL78.png");
}

.white{
	background-color: white;
}

.imagePortfolio{

	float:right;
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
}

.form-group{
	width: 350px;
}

.holly{
	margin-bottom: 20px;
}

@media (max-width: 965px){
	.container{
		width:100%;
		padding-right: 0px;
		margin-right: 0px;
	}
	#heroText{
		position: relative;
		top:80px;
		padding-left: 0px;
		left:0px;
		color:white;
		text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
	}
	.heroBtn{
		color:white;
		text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
		border:2px solid white;
	}

	#rightSide{
		display: none;
	}


	.portfolio{
		padding-top: 20px;
		text-align: center;
	}

	.imagePortfolio{
		position: block;
		margin-top:50px;
	}

	.projectDescription{
		display: none;
	}


	.button{
		display:none;
	}

	.first{
		margin-top:-150px;
	}

	#aboutDescription{
		width:300px;
	}

	ul{
		padding-right: 20px;
	}

	li{

		padding-left: 0px;
	}

}

@media (max-width: 400px){
	.firstText{
		margin-top:-200px;
	}
}