<div class="mobile-nav-list" [ngClass]="{open: openMobileNav}">
  <div class="mobile-nav-container">
    <a (click)="toggleNav()" routerLink="/" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:
        true}">Home</a>
    <br>
    <a (click)="toggleNav()" routerLink="/about" [routerLinkActive]="['active']">About</a> <br>
    <a (click)="toggleNav()" routerLink="/work" [routerLinkActive]="['active']">Portfolio</a> <br>
    <a (click)="toggleNav()" routerLink="/books" [routerLinkActive]="['active']">Book Log</a>
  </div>

</div>

<div class='headerComponent container'>
  <div>
    <h1>
      <a routerLink="/"><img src="../../assets/logo.png"></a> <br>
    </h1>
  </div> <!-- Logo -->
  <nav>
    <a routerLink="/" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:
      true}">Home</a> <br>
    <a routerLink="/about" [routerLinkActive]="['active']">About</a> <br>
    <a routerLink="/work" [routerLinkActive]="['active']">Portfolio</a> <br>
    <a routerLink="/books" [routerLinkActive]="['active']">Book Log</a>
  </nav> <!-- Nav -->
  <nav class="mobile">
    <div id="nav-icon3" [ngClass]="{open: openMobileNav}" (click)="toggleNav()">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </nav> <!-- Mobile Nav -->
</div>