<div class='headerComponent container'>
  <div>
    <h1>
      <a routerLink="/"><img src="../../assets/logo.png"></a> <br>
    </h1>
  </div> <!-- Logo -->
  <nav>
    <a routerLink="/" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:
      true}">Home</a> <br>
    <a routerLink="/about" [routerLinkActive]="['active']">About</a> <br>
    <a routerLink="/work" [routerLinkActive]="['active']">Portfolio</a> <br>
    <a routerLink="/books" [routerLinkActive]="['active']">Book Log</a>
  </nav> <!-- Nav -->
  <nav class="mobile">
    <div id="menuToggle">
      <!--
      A fake / hidden checkbox is used as click reciever,
      so you can use the :checked selector on it.
      -->
      <input type="checkbox" />

      <!--
      Some spans to act as a hamburger.
      
      They are acting like a real hamburger,
      not that McDonalds stuff.
      -->
      <span></span>
      <span></span>
      <span></span>

      <!--
      Too bad the menu has to be inside of the button
      but hey, it's pure CSS magic.
      -->
      <ul id="menu">
        <a href="#">
          <li>Home</li>
        </a>
        <a href="#">
          <li>About</li>
        </a>
        <a href="#">
          <li>Info</li>
        </a>
        <a href="#">
          <li>Contact</li>
        </a>
        <a href="https://erikterwan.com/" target="_blank">
          <li>Show me more</li>
        </a>
      </ul>
    </div>
  </nav>
</div>