.headerComponent {
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav a {
    font-size: 0.8em;
    color: #151515;
    padding: 24px;
}

nav a:hover {
    color: #006BE8;
}