h1>a {
    color: #151515;
}

.headerComponent {
    display: flex;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav a.active {
    font-weight: 600;
}

nav a {
    font-size: 0.8em;
    color: #151515;
    padding: 1.2em;
    font-weight: 300;
}

nav a:hover {
    color: #006BE8;
}

@media screen and (max-width: 400px) {
    nav a {
        padding: 0.5em;
    }
}