.about-avatar {
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
    flex: 5;
    margin-right: 35px;
}

.about-description {
    flex: 5;
    max-width: 30em;
}

.skill-item {
    text-align: center;
    width: 30%;
}

.skill-item>p {
    font-weight: 300;
    font-size: 0.8em;
}

.experience-item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2em;
    flex-wrap: wrap;
}

.experience-logos {
    margin-top: 1.5em;
    text-align: right;
    margin-right: 1em;
}

.experience-item__details {
    margin: 0;
    width: 100%;
}

.experience-item__details>p {
    margin-top: 0.5em;
    margin-bottom: 0;
}

.experience-item__details>.job-position {
    font-size: 1em;
    font-weight: 500;
}

.experience-item__details>.company {
    font-size: .8em;
    font-weight: 500;
}

.experience-item__details>.meta {
    font-weight: 200;
    font-size: .8em;
}

.experience-item__details>.description {
    font-weight: 200;
    font-size: 1em;
}

@media screen and (max-width: 800px) {
    .skill-item {
        text-align: center;
        width: 100%;
        margin-top: 1em;
        margin-bottom: 1em;
    }
}