<div id="hero container">
  <div class="container flex-container-x space-around">
    <div class="about-picture">
      <img alt="" width="250" height="250" class="about-avatar" src="https://avatars2.githubusercontent.com/u/14298038?s=460&amp;v=4">
    </div>
    <div class="about-description">
      <h2>Hi, let me introduce myself</h2>
      <p>
        I am a Full-stack software engineer currently working in Silicon Valley. I have a natural affinity for creating
        useable
        and functional web applications. <br> <br>
        When I am not getting my natural high from coding, you can see me helping the
        kids in need. My ultimate goal in life is to create software for the children in need. 
      </p>
    </div>
  </div>
</div>
<section class="full-width blue" id="skills">
  <div>
    <header>
      <h3>My Skills</h3>
    </header>
    <div class="container flex-container-x space-around">
      <div class="skill-item">
        <i class="fas fa-code fa-3x"></i>
        <h4>Front-End Development</h4>
        <p>
          I have strong sense of modern front-end web development skills. Fluent in <strong> JavaScript</strong> as
          well as frameworks
          such as <strong>Angular</strong> and <strong>React</strong>
        </p>
      </div>
      <div class="skill-item">
        <i class="fas fa-heartbeat fa-3x"></i>
        <h4>Passion for Clean Code </h4>
        <p>
          I am big advocate for clear, reusable and robust codebase. To help reinforcement I use strong documentation
          as well as necessary testing skills with <strong>Jasmine</strong> and <strong>Karma</strong>.
        </p>
      </div>
      <div class="skill-item">
        <i class="far fa-object-group fa-3x"></i>
        <h4>UX/UI Engineering</h4>
        <p>
          I work losely with UX/Design to create great designs, interactions, prototypes. I am well-versed in <strong>PhotoShop</strong>
          and <strong>Sketch</strong>.
        </p>

      </div>

    </div>
  </div>
</section>

<section class="full-width dark" id="experiences">
  <div class="container">
    <header>
      <h3>My Experiences</h3>
    </header>
    <div class="flex-container-y space-around">
      <div class="experience-item">
        <div class="experience-logos">
          <img alt="Education Elements" width="170px" height="42px" src="https://www.edelements.com/hubfs/EE.Logo-170.png">
        </div>
        <div class="experience-item__details">
          <p class="job-position"> Software Engineer - Front End</p>
          <p class="company"> Education Elements</p>
          <span class="meta"> Oct 2018 – Present</span>
          <p class="description">
            Education Elements works with districts to build and support dynamic school systems that meet the needs of
            every learner, today and tomorrow.
          </p>
        </div>
      </div>
      <div class="experience-item">
        <div class="experience-logos">
          <img class="experience-logos" alt="Education Elements" width="170px" height="35px" src="https://scvwd.legistar.com/Images/SCVW/scvwd-logo-horizontal_white.png">
        </div>
        <div class="experience-item__details">
          <p class="job-position"> Application Developer</p>
          <p class="company"> Santa Clara Valley Water District</p>
          <span class="meta"> Jun 2017– Oct 2018 (1yr 5 mos)</span>
          <p class="description">
            • Developed full-stack applications using JavaScript, HTML/CSS, Oracle SQL, and APEX <br>
            • Manage a small team of developers in a building internal application for the organization.<br>
            • Benchmarked and optimized database Oracle SQL to improve internal applications by 50%
          </p>
        </div>
      </div>
      <button style="margin:auto; width:15em"> View Full Resumé</button>
    </div>
  </div>

</section>