<section id="work-grid">
  <div class="container">
    <h3>My Recent Work</h3>
    <div class="flex-container-x work-grid">
      <div class="work-item large">
        <div class="work-item-card">
            <span  class="card-bg foodcraft"></span>
            <span  class="card-bg overlay">
            </span>

   
          <div class="card-top">
            <div class="card-top_icon" style="height: 50px; width: 50px; font-size: 50px; line-height: 1.1; margin-left: 0px; color: rgb(55, 53,
              47);">
              🍱</div>
            <h3>FoodCraft</h3>
            <p>A simple web apppliaction to help you craft your favorite dishes.</p>
          </div>

          <div class="card-bottom">
              <button class="detail white">View Case Study</button>
          </div>
        </div>
      </div>
      <div class="work-item small">
        <div class="work-item-card">
            <span  class="card-bg"></span>

            <div class="card-top">
                <div class="card-top_icon" style="height: 50px; width: 50px; font-size: 50px; line-height: 1.1; margin-left: 0px; color: rgb(55, 53,
                  47);">
                  📚</div>
                <h3>Coming Soon</h3>
                <p>New app coming soon every month of 2019</p>
              </div>        
            </div>
      </div>
      <div class="work-item small">
        <div class="work-item-card">
            <span  class="card-bg"></span>

            <div class="card-top">
                <div class="card-top_icon" style="height: 50px; width: 50px; font-size: 50px; line-height: 1.1; margin-left: 0px; color: rgb(55, 53,
                  47);">
                  🏋</div>
                  <h3>Coming Soon</h3>
                  <p>New app coming soon every month of 2019</p>
              </div>        
            </div>
      </div>
      <div class="work-item large">
        <div class="work-item-card">
            <span  class="card-bg"></span>
 
            <div class="card-top">
                <div class="card-top_icon" style="height: 50px; width: 50px; font-size: 50px; line-height: 1.1; margin-left: 0px; color: rgb(55, 53,
                  47);">
                  🧠</div>
                  <h3>Coming Soon</h3>
                  <p>New app coming soon every month of 2019</p>
              </div>        
            </div>
      </div>
    </div>
  </div>
</section>