/* You can add global styles to this file, and also import other style files */

* {
    font-family: 'Work Sans', sans-serif;
}

.container {
    margin: auto;
    padding: 20px;
    width: 1200px;
}

.hidden {
    display: none;
}

/* fonts Styles */

body {
    margin: 0;
}

html {
    font-size: 16px;
    line-height: 1.5;
    color: #323232;
}

@media screen and (min-width: 900px) {
    html {
        font-size: 18px;
    }
}

@media screen and (min-width: 1200px) {
    html {
        font-size: 20px;
    }
}

/* link Styles */

a {
    text-decoration: none;
    font-weight: 500;
}

a, a:visited {
    color: #006BE8;
}

a:hover {
    color: #0082EE;
}

/* Button Styles */

button {
    border-radius: 20px;
}

button:hover {
    cursor: pointer;
    opacity: 0.9;
}

button:focus {
    outline: 0;
}

button.btn-hot {
    background-image: linear-gradient(-180deg, #0094F2 0%, #006BE8 100%);
    box-shadow: 0 5px 12px 0 rgba(0, 107, 232, 0.35);
    color: white;
}

.btn-large {
    font-size: 0.7em;
    padding: 12px 40px;
}