/* You can add global styles to this file, and also import other style files */

/* Global Variables */

:root {
    --main-blue: #006BE8;
    --main-text: #151515;
    --dark-bg: #171717;
}

* {
    font-family: 'Work Sans', sans-serif;
}

*, *:before, *:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

.container {
    margin: auto;
    padding: 2em;
    width: 1200px;
}

.hidden {
    display: none;
}

::selection {
    color: white;
    background: var(--main-blue);
}

/* fonts Styles */

body {
    margin: 0;
}

html {
    font-size: 16px;
    line-height: 1.5;
    color: #323232;
}

@media screen and (min-width: 900px) {
    html {
        font-size: 18px;
    }
}

@media screen and (min-width: 1200px) {
    html {
        font-size: 20px;
    }
}

/* link Styles */

a {
    text-decoration: none;
    font-weight: 500;
}

a, a:visited {
    color: var(--main-blue);
}

a:hover {
    color: var(--main-blue);
}

/* Button Styles */

button {
    white-space: nowrap;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 14px;
    background: var(--main-blue);
    border-radius: 4px;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .025em;
    color: white;
    text-decoration: none;
    transition: all .15s ease;
    border: 0px solid black;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}

button:hover {
    cursor: pointer;
    transform: translateY(-1px);
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, .25), 0 8px 16px -8px rgba(0, 0, 0, .3);
}

@media screen and (max-width: 1300px) {
    .container {
        width: 100%;
    }
}

/* layouts */

.flex-container-x {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-container-y {
    display: flex;
    flex-direction: column;
}

.space-around {
    justify-content: space-around;
}

section.full-width {
    width: 100%;
    padding: 2em;
    padding-bottom: 4em;
}

section.blue {
    background: var(--main-bg-color);
    color: white;
}

section.dark {
    background: var(--dark-bg);
    ;
    color: white;
}

section.full-width>div>header {
    text-align: center;
}