/* Intro */

#intro {
    padding: 50px 0px;
}

.hero {
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
}

.about-me {
    margin-top: 25px;
    width: 50%;
}

.about-me>p.sub-text {
    font-size: .8em;
    font-weight: 200;
    color: #484848;
    margin-bottom: -15px;
}

.about-me>p.main-text {
    font-size: 1.1em;
}

.hero-picture {
    width: 365px;
    height: 330px;
    background: #006BE8;
    border-radius: 30px;
}

/* portfolio */

section#portfolio {
    width: 100%;
    height: 800px;
    background: #222222;
}

#portfolio>div>header {
    padding: 50px 0px;
    text-align: center;
}

#portfolio>div>header>h3 {
    font-size: 1.2em;
    color: #FFFFFF;
    line-height: 0em;
}

#portfolio>div>header>p {
    font-weight: 300;
    font-size: .8em;
    color: #E6E6E6;
}

.portfolio-container {
    display: flex;
    flex-direction: column;
}

.portfolio-item {
    display: flex;
    flex-direction: row;
    height: 300px;
}

.portfolio-item__alternate {
    flex-direction: row-reverse;
}

.portfolio-item__alternate>.portfolio-item__heading {
    border-radius: 0px 30px 30px 0px;
}

.portfolio-item__alternate>.portfolio-item__preview {
    border-radius: 30px 0px 0px 30px;
}

.portfolio-item__heading {
    width: 335px;
    background: white;
    border-radius: 30px 0px 0px 30px;
    padding: 30px;
}

.portfolio-item__preview {
    width: calc(100% - 335px);
    background: #191919;
    border-radius: 0px 30px 30px 0px;
}

.portfolio-item__title {
    font-size: 32px;
    font-weight: 500;
}

.portfolio-item__description {
    font-size: 14px;
}

.portfolio-item__subtitle {
    margin-top: 80px;
    padding-bottom: 15px;
    font-size: 12px;
}