<section id="intro">
  <div class="hero container">
    <div class="about-me animated fadeIn faster">
      <div class="left">
        <h2>THOMAS <span class="blue-text">NGUYEN</span></h2>
        <p class="main-text">
          I'm a <em>designer, developer, and engineer</em> based in Silicon Valley.
          I first began creating websites when I was 13. Since then I love solving problems with technology.
        </p>
        <p class="secondary-text"> I am currently a Front-Developer @ <a href="https://www.edelements.com/">Education
            Elements</a></p>
        <a routerLink="/about"><button> Learn More</button></a>
      </div>

    </div>
    <div class="about-picture">
      <img alt="" width="250" height="250" class="about-avatar"
        src="https://avatars2.githubusercontent.com/u/14298038?s=460&amp;v=4">
    </div>
    <div class="right">
    </div>

  </div>
</section>
<section id="portfolio">
  <div class="container">
    <header>
      <h3>My Recent Works</h3>
      <p>Open-source web applications build within past year</p>
    </header>
    <div class="portfolio-container">
      <div class="portfolio-item container">
        <div class="portfolio-item__heading">
          <div class="portfolio-item__top">
            <div class="portfolio-item__title">FoodCraft</div>
            <div class="portfolio-item__description">A simple web apppliaction to help you craft your favorite dishes.
            </div>
          </div>
          <div class="portfolio-item__bottom">
            <div class="portfolio-item__subtitle"><em>React, Web Design</em></div>
            <a href="https://github.com/thomasnguyen/FoodCraft"><button class="btn btn-hot btn-med"> View
                Project</button></a>
          </div>
        </div>
        <div class="portfolio-item__preview">
          <img src="../../assets/portfolio_foodcraft.png">
        </div>
      </div>
    </div>
  </div>
</section>